.link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.container-produits {
  margin: 50px 9em ;
}

.produit-banner {
  text-align: center;
  text-transform: Uppercase;
  margin: 50px 9em ;
  padding: 0 15px;
  h1 {
    font-size: 25px;
    margin: 20px;
    color: $second;
  }

}
.content-container img {
  background-size: cover;
  background-position: center;

}

.content-container  h3 {
    color: black;
    margin-left: 20px;
    font-size: 20px;
  }
.verrerie-img {
  background-image: image-url('verrerie.jpg');
  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}
.table-img {
    background-image: image-url('table-min.jpg');

  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}

.textile-img {
    background-image: image-url('textile-min.jpg');
  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}

.lifestyle-img {
    background-image: image-url('lifestyle-min.jpg');
  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}

.mobilier-img {
    background-image: image-url('mobilier-min.jpg');
  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}

.luminaire-img {
    background-image: image-url('luminaire-min.jpg');
  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}

.enfants-img {
    background-image: image-url('enfant-min.jpg');
  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}

.accessoires-img {
    background-image: image-url('accessoire-min.jpg');
  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}
.maroquinerie-img {
    background-image: image-url('maroquinerie.jpg');
  background-size: cover;
  background-position: center;
  // opacity: 0.8;
}

.bijoux-img {
  background-image: image-url('bijou-min.jpg');
  background-size: cover;
  background-position: center;
}

hr.fancy-line {
    border: 0;
    height: 4px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    // position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}
@media screen and (max-width: 650px) {
  .produit-banner {
    padding: 0;
    margin: 50px 0;
  }
  .container-produits{
    margin: 0;
  }
  .rslides li {
    height: 300px;
  }
}
@media screen and (min-width: 1281px) {
}
