.container-show {
  height: auto;
  margin: 70px;
}

.show-description p {
  word-wrap: break-word;
}

.center {
  text-align: center;
  float: none;
  margin: 0 auto;
  h1 {
    font-size: 20px;
  }
}


.nouveaute-container {
  margin: 0 200px;
}



.btn-dispo {
  margin-top: 30px;
  color: black;
 a {
  border: 2px solid black;
  padding: 10px 20px;
  color: black;
 } &:hover {
  text-decoration: none;
  opacity: 0.6;
}
}

.admin-link a {
  color: black;
  // padding-left: 3px;

}

@media screen and (max-width: 650px) {
  .container-show {
    margin: 30px 15px;
  }
  .admin-link p {
    font-size: 12px;
  }
  .navigation p {
    font-size: 14px
  }
  .nouveaute-container {
    margin: 30px 15px;
  }

}
