
<h1 class="titre">NOS BOUTIQUES</h1>
<hr class="fancy-line"></hr>

<div class="container-boutique">
  <div class="card-container">
    <div class="row ">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= image_tag "autruches.jpg", class: "photo-autruches" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 container-text-autruches">
          <h3>LES AUTRUCHES</h3>
        <ul>
          <li>32 rue Boulard</li>
          <li>75014 Paris</li>
          <li>01 43 20 23 62</li><br>
          <li>Horaires:</li>
          <li>Mardi au Samedi: 11h-14h et 15h30-19H</li>
          <li>Fermeture: Lundi - Dimanche</li>
        </ul>
      </div>
    </div><div class="row margin-boutique">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= image_tag "petites_autruches.jpg", class: "photo-autruches" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 container-text-autruches">
         <h3>LES PETITES AUTRUCHES</h3>
        <ul>
          <li>33 rue Boulard</li>
          <li>75014 Paris</li>
          <li>01 43 20 23 62</li><br>
          <li>Horaires:</li>
          <li>Mardi au Samedi: 11h-14h et 15h30-19H</li>
          <li>Fermeture: Lundi - Dimanche</li>
        </ul>
      </div>
    </div>
  </div>


<div id="mapCanvas"></div>
</div>
<hr class="fancy-line"></hr>
</div>





