
<h1 class="titre">NOS BOUTIQUES</h1>

<div class="container-boutique">
  <div class="card-container">
    <div class="row ">
      <div class="col-xs-12 col-md-6">
        <%= image_tag "autruches.jpg", class: "photo-autruches" %>
      </div>
      <div class="col-xs-12 col-md-6 container-text-autruches">
          <h3>LES AUTRUCHES</h3>
        <ul>
          <li>30 rue Boulard</li>
          <li>75014 Paris</li>
          <li>01 45 44 44 44</li><br>
          <li>Horaires:</li>
          <li>Lundi au Vendredi: 9h-12h et 15h-19H</li>
          <li>Samedi: 10h-17h</li>
        </ul>
      </div>
    </div><div class="row margin-boutique">
      <div class="col-xs-12 col-md-6">
        <%= image_tag "petites_autruches.jpg", class: "photo-autruches" %>
      </div>
      <div class="col-xs-12 col-md-6 container-text-autruches">
         <h3>LES PETITES AUTRUCHES</h3>
        <ul>
          <li>33 rue Boulard</li>
          <li>75014 Paris</li>
          <li>01 45 45 45 45</li><br>
          <li>Horaires:</li>
          <li>Lundi au Vendredi: 9h-12h et 15h-19H</li>
          <li>Samedi: 10h-17h</li>
        </ul>
      </div>
    </div>
  </div>


<div id="mapCanvas"></div>
</div>

</div>





