<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content specific-icon">
      <button type="button" class="ai-btn" data-dismiss="modal"><%= image_tag "ico-croix.svg" %></button>
    </button>

    <div class="modal-body body-content">
      <h3>LES AUTRUCHES</h3>
      <p>Ce produit vous intéresse ? N'hesitez pas à nous contacter pour qu'on vous le réserve ou pour plus d'informations. A très vite.</p><br>
      <ul>
        <li><i class="far fa-compass"></i> 32 rue Boulard</li>
        <li><i class="far fa-compass"></i> Paris - 75014</li>
        <li><i class="far fa-address-book"></i> 01 43 20 23 62</li>
        <li><i class="far fa-envelope"></i> <a href="mailto:lesautruches@hotmail.com" style="color: black;">lesautruches@hotmail.com</a></li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="ai-btn"> <%= link_to "Contactez nous par email", new_contact_path   %></button>
    </div>
  </div>
</div>
</div>
