<div class="container-presse">
  <div class="navigation">
    <p><%= link_to "ACCUEIL", "/"  %> / PRESSE</p>
  </div>
  <div class="header-presse">
    <h1>IlS ONT PARLÉ DE NOUS</h1>
  </div>
    <hr class="fancy-line"></hr>
  <div class="row">
    <div class="col-xs-12 presse">
      <h4>Time Out, Shopping à Denfert-Rochereau, Les Autruches, 07/05/2016</h4>
      <p>Située à deux pas de la charmante rue Daguerre, dans le 14e arrondissement, la boutique Les Autruches a ouvert en 2003. A l'origine du projet, deux sœurs inséparables et passionnées de déco qui ont déniché, pour notre plus grand plaisir, une cinquantaine de créateurs. Sur les étals d'un espace somme...</p>
      <div class="btn-container">
      <div class="btn-lire">
        <a href="https://www.timeout.fr/paris/shopping/les-autruches" target="_blank"><span class="surlignage">LIRE LA SUITE</span></a>

      </div>

      </div>
    </div>
  </div>
      <div class="row">
    <div class="col-xs-12 presse">
      <h4>ELLE Deco, les autruches</h4>
      <p>Les Autruches se sont agrandies ! Au départ, il y avait une boutique proposant de la petite déco bohème pour les grands. Il y a désormais une seconde boutique dédiée à l'univers de la chambre d'enfants avec kilims en format réduit, des berceaux en rotin, des peluches tricotées... Autrement dit : tout ce qu'il faut avoir pour une chambre d'enfants ultra tendance !...</p>
      <div class="btn-container">
      <div class="btn-lire">
        <a href="http://www.elle.fr/Deco/Marques/Les-Autruches-petites-boutique-enfant-paris" target="_blank"><span class="surlignage">LIRE LA SUITE</span></a>

      </div>

      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-12 presse">
      <h4>Côté Maison, Paris – boutiques Les Autruches, cabinets de curiosités pour petits et grands, 03/04/2014</h4>
      <p>Poétique et enchanteresse, la boutique des Autruches ouvre, dix ans après sa première adresse, une annexe de décoration, toujours rue Boulard dans le 14è arrondissement de Paris, cette fois-ci pour les petits. Les Autruches, c’est l’histoire d’une passion commune, celle de deux sœurs Christine Boissaye et Laurence Talon, qui ont à coeur de proposer de jolies choses...</p>
      <div class="btn-container">
      <div class="btn-lire">
        <a href="http://blogs.cotemaison.fr/mademoiselle-cecile/2014/04/03/paris-boutiques-les-autruches-cabinets-de-curiosites-pour-petits-et-grands/" target="_blank"><span class="surlignage">LIRE LA SUITE</span></a>

      </div>

      </div>
    </div>
  </div>  <div class="row">
    <div class="col-xs-12 presse">
      <h4>Aventure Deco, Shopping à Denfert-Rochereau, Les petites Autruches, 29/08/2015</h4>
      <p>Je commencerais par vous parlé des Petites Autruches même si la chronologie voudrait que je vous parle d’abord des Autruches… C’est comme ça, pis c’est tout, vous comprendrez plus tard ;)...</p>
      <div class="btn-container">
      <div class="btn-lire">
        <a href="http://www.aventuredeco.fr/les-petites-autruches/" target="_blank"><span class="surlignage">LIRE LA SUITE</span></a>

      </div>

      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-12 presse">
      <h4>Milk, Boutique: les petites autruches, 09/11/2014</h4>
      <p>Quoi ? Les Petites Autruches est la petite sœur de la boutique Les Autruches, cabinet de curiosités où mobilier, coussins, tapis et vaisselles se côtoient depuis dix ans rue Boulard. Dans ce nouvel espace ouvert en mars 2014, on retrouve une sélection pour les mamans ou les futurs parents.

Que ? Numéro 74, OMY, Anne-Claire Petit, Caravane… Dans cette ancienne tapisserie, on trouve des peluches tricotées, des appliques poétiques, des berceaux en rotin et autres objets de désirs pour dorloter les petits et leur chambre....</p>
      <div class="btn-container">
      <div class="btn-lire">
         <a href="https://www.milkmagazine.net/boutique-les-petites-autruches/" target="_blank"><span class="surlignage">LIRE LA SUITE</span></a>

      </div>

      </div>
    </div>
  </div>

</div>




<div id="ex1" class="modal">
  <p>Thanks for clicking. That felt good.</p>
  <a href="#" rel="modal:close">Close</a>
</div>
