<div class="container-presse">
  <div class="navigation">
    <p><%= link_to "ACCUEIL", "/"  %> / PRESSE</p>
  </div>
  <div class="header-presse">
    <h1>IlS ONT PARLÉ DE NOUS</h1>
  </div>
    <hr class="fancy-line"></hr>
  <div class="row">
    <div class="col-xs-12 presse">
      <h4>Time Out, Shopping à Denfert-Rochereau, Les Autruches, 07/05/4016</h2>
      <p>Située à deux pas de la charmante rue Daguerre, dans le 14e arrondissement, la boutique Les Autruches a ouvert en 2003. A l'origine du projet, deux sœurs inséparables et passionnées de déco qui ont déniché, pour notre plus grand plaisir, une cinquantaine de créateurs. Sur les étals d'un espace somme...</p>
      <div class="btn-container">
      <div class="btn-lire">
        <a href="">Lire la suite</a>

      </div>

      </div>
    </div>
  </div>  <div class="row">
    <div class="col-xs-12 presse">
      <h4>Time Out, Shopping à Denfert-Rochereau, Les Autruches, 07/05/4016</h2>
      <p>Située à deux pas de la charmante rue Daguerre, dans le 14e arrondissement, la boutique Les Autruches a ouvert en 2003. A l'origine du projet, deux sœurs inséparables et passionnées de déco qui ont déniché, pour notre plus grand plaisir, une cinquantaine de créateurs. Sur les étals d'un espace somme...</p>
      <div class="btn-container">
      <div class="btn-lire">
        <a href="">Lire la suite</a>

      </div>

      </div>
    </div>
  </div>  <div class="row">
    <div class="col-xs-12 presse">
      <h4>Time Out, Shopping à Denfert-Rochereau, Les Autruches, 07/05/4016</h2>
      <p>Située à deux pas de la charmante rue Daguerre, dans le 14e arrondissement, la boutique Les Autruches a ouvert en 2003. A l'origine du projet, deux sœurs inséparables et passionnées de déco qui ont déniché, pour notre plus grand plaisir, une cinquantaine de créateurs. Sur les étals d'un espace somme...</p>
      <div class="btn-container">
      <div class="btn-lire">
        <a href="">Lire la suite</a>

      </div>

      </div>
    </div>
  </div>  <div class="row">
    <div class="col-xs-12 presse">
      <h4>Time Out, Shopping à Denfert-Rochereau, Les Autruches, 07/05/4016</h2>
      <p>Située à deux pas de la charmante rue Daguerre, dans le 14e arrondissement, la boutique Les Autruches a ouvert en 2003. A l'origine du projet, deux sœurs inséparables et passionnées de déco qui ont déniché, pour notre plus grand plaisir, une cinquantaine de créateurs. Sur les étals d'un espace somme...</p>
      <div class="btn-container">
      <div class="btn-lire">
        <a href="">Lire la suite</a>

      </div>

      </div>
    </div>
  </div>
</div>




<div id="ex1" class="modal">
  <p>Thanks for clicking. That felt good.</p>
  <a href="#" rel="modal:close">Close</a>
</div>
