<div class="container registration-session">
  <div class="row container-formulaire">
    <div class="col-xs-12">

</div><h2>CONNEXION</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false, :label => "Mot de passe" %>
  </div>

  <div class="form-actions">

    <%= f.button :submit, "SE CONNECTEZ", class: 'btn-form' %>
  </div>
<% end %>

    </div>
  </div>
</div>
