.container-form-contact {
  height: auto;
  margin: 30px 100px;
  // display: flex;

}
.header-form {
  margin: 70px 100px;
  text-align: center;
  h1 {
  font-size: 25px;
  letter-spacing: 2px;
  color: $second;
  }
}

.footer-form {
  margin: 70px 100px;
  p {
    font-size: 12px;
  }
}

label {
  font-size: 13px;
}
.contact-center {
  background-image: image-url('textile-min.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contact-container h1 {
  font-size: 20px;
  margin: 0;
}
.element-contact {
  text-align: center;
  background: white;

  li {
    list-style: none;
  }
}
.contact-form-center {
  background: white;
  padding: 0px 30px;

}
.submit-btn {
  padding: 15px 15px;
  border: 1px solid black;
}

.button:hover {
  background: none;
background: #444444;
color: white;

}
textarea {
  height: 50px;
}

.input-style {
  border: 0.7px solid #4444444f;
}

@media screen and (max-width: 650px) {
  .container-form-contact {
    margin: 30px 15px;
  }
  .header-form {
    margin: 30px 15px;
  }
  .contact-form-center {
    padding: 0 0px 0 15px;
  }


  .footer-form {
    margin: 30px 15px;
  }
}
